*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f7efee;
    font-family:Arial, sans-serif;
}

.cover{
    position:relative;
    width:100%;
    max-width:430px;
    margin:auto;
}

.cover-img{
    width:100%;
    display:block;
}

.kepada{
    display:none;
}

#namaTamu{
    display:none;
}

#openBtn{
    position:absolute;
    left:50%;
    bottom:7%;
    transform:translateX(-50%);
    padding:14px 35px;
    border:none;
    border-radius:50px;
    background:#6d3945;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.isi{
    display:none;
}

#hero{
    min-height:100vh;
    background:#F8EDEC;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px 20px;
}

.judul-hero{
    font-size:48px;
    line-height:1.2;
    color:#8A0D17;
    margin-bottom:30px;
}

.nama{
    font-size:42px;
    color:#8A0D17;
    margin-bottom:10px;
}

.tanggal{
    font-size:22px;
    color:#8A0D17;
}
#save-date{
    min-height:100vh;
    background:#F8EDEC;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px 20px;
}

#save-date h2{
    font-size:42px;
    line-height:1.2;
    color:#8A0D17;
    margin-bottom:25px;
}

.save-nama{
    font-size:26px;
    color:#8A0D17;
    margin-bottom:20px;
}

.save-text{
    max-width:320px;
    line-height:1.8;
    color:#555;
}

#love-story{
    min-height:100vh;
    background:#F8EDEC;
    padding:60px 25px;
    text-align:center;
}

.judul-section{
    font-size:36px;
    color:#8A0D17;
    margin-bottom:40px;
}

.story{
    background:white;
    border-radius:20px;
    padding:25px;
    margin-bottom:25px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.story h3{
    color:#8A0D17;
    margin-bottom:15px;
}

.story p{
    line-height:1.8;
    color:#555;
}

#maps{
    min-height:100vh;
    background:#F8EDEC;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:60px 25px;
}

.alamat{
    color:#555;
    line-height:1.8;
    margin:30px 0;
}

.btn-maps{
    background:#8A0D17;
    color:white;
    text-decoration:none;
    padding:15px 35px;
    border-radius:40px;
    display:inline-block;
}

#rsvp{
    min-height:100vh;
    background:#F8EDEC;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:60px 25px;
}

#rsvp input,
#rsvp select,
#rsvp textarea{
    width:100%;
    max-width:350px;
    margin:10px 0;
    padding:15px;
    border-radius:12px;
    border:1px solid #ddd;
    font-size:16px;
}

#rsvp textarea{
    height:120px;
    resize:none;
}

.btn-kirim{
    position:static;
    transform:none;
    margin-top:20px;
    background:#8A0D17;
    color:white;
    padding:15px 35px;
    border:none;
    border-radius:30px;
    cursor:pointer;
}

#rsvp{
    min-height:100vh;
    background:#F8EDEC;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:60px 25px;
}

#rsvp input,
#rsvp select,
#rsvp textarea{
    width:100%;
    max-width:350px;
    padding:15px;
    margin:10px 0;
    border:1px solid #d8c8c8;
    border-radius:12px;
    font-size:16px;
    outline:none;
}

#rsvp textarea{
    height:120px;
    resize:none;
}

.btn-kirim{
    position:static;
    transform:none;
    margin-top:20px;
    padding:15px 35px;
    border:none;
    border-radius:50px;
    background:#8A0D17;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.btn-kirim:hover{
    opacity:.9;
}

#gallery{
    min-height:100vh;
    background:#F8EDEC;
    padding:70px 20px;
    text-align:center;
}

.carousel{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
}

.carousel-track{
    width:320px;
    height:430px;
    overflow:hidden;
    position:relative;
}

.slide{
    position:absolute;
    top:50%;
    left:50%;

    width:260px;

    border-radius:24px;

    transform:translate(-50%,-50%);

    opacity:0;

    transition:.5s ease;

    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.slide.active{

    opacity:1;

    transform:translate(-50%,-50%) scale(1);

    z-index:3;

}

.slide.prev-slide{

    opacity:.6;

    transform:translate(-130%,-50%) scale(.8);

    filter:blur(2px);

    z-index:2;

}

.slide.next-slide{

    opacity:.6;

    transform:translate(30%,-50%) scale(.8);

    filter:blur(2px);

    z-index:2;

}

.prev,
.next{

    width:46px;
    height:46px;

    border:none;

    border-radius:50%;

    background:#ffffff;

    font-size:22px;

    cursor:pointer;

    box-shadow:0 6px 20px rgba(0,0,0,.12);

}

.indikator{

    margin-top:25px;

}

.dot{

    width:10px;
    height:10px;

    display:inline-block;

    margin:0 5px;

    border-radius:50%;

    background:#d7c5ca;

}

.dot.active{

    background:#D98FA3;

}

.gallery-text{

    margin-top:20px;

    color:#8B6F74;

    font-size:15px;

}



#countdown,
#closing{
    min-height:100vh;
    background:#F8EDEC;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:60px 20px;
}

#timer{
    display:flex;
    gap:15px;
    margin-top:30px;
    flex-wrap:wrap;
    justify-content:center;
}

#timer div{
    background:white;
    padding:20px;
    border-radius:15px;
    min-width:70px;
}

#timer span{
    font-size:30px;
    font-weight:bold;
    color:#8A0D17;
}

#closing p{
    max-width:320px;
    line-height:1.8;
    margin:20px 0;
}


/* ===========================
   AYAT AR-RUM
=========================== */

#ayat{
    background:#F8EDEC;
    text-align:center;
    padding:60px 25px;
}

.ayat{
    max-width:320px;
    margin:0 auto 20px;
    line-height:1.8;
    color:#555;
}

.surat{
    color:#8A0D17;
    font-weight:bold;
}

/* ===========================
   BRIDE & GROOM
=========================== */

#bride-groom{
    background:#F8EDEC;
    text-align:center;
    padding:60px 25px;
}

.mempelai{
    margin-bottom:50px;
}

.foto-mempelai{
    width:180px;
    height:230px;
    object-fit:cover;
    display:block;
    margin:20px auto;
    border-radius:20px;
}

/* ===========================
   BISMILLAH
=========================== */

#bismillah{
    background:#F8EDEC;
    text-align:center;
    padding:60px 25px;
}

.lafaz{
    font-size:60px;
    color:#8A0D17;
    margin-bottom:20px;
}

.salam{
    font-size:22px;
    color:#8A0D17;
    margin-bottom:20px;
}

.doa{
    max-width:350px;
    margin:0 auto;
    line-height:1.8;
    color:#555;
}

/* ==================================================
   WEDDING GIFT
================================================== */

#gift{

    min-height:100vh;

    background:#F8EDEC;

    padding:70px 20px;

    text-align:center;

}

.gift-text{

    max-width:340px;

    margin:20px auto 40px;

    color:#8B6F74;

    line-height:1.8;

}

.rekening-card{

    background:#FFFFFF;

    border-radius:24px;

    padding:28px;

    max-width:340px;

    margin:30px auto;

    box-shadow:0 12px 30px rgba(0,0,0,.08);

}

.bank-header{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:12px;

    margin-bottom:18px;

}

.logo-bank{

    width:55px;

    height:auto;

}

.rekening-card h3{

    margin:0;

    font-size:22px;

    color:#444;

}

.rekening-card p{

    margin:10px 0;

    color:#666;

    line-height:1.6;

}

.copyBtn{

    width:100%;

    padding:15px;

    margin-top:20px;

    border-radius:50px;

    border:2px solid #D98FA3;

    background:#FFFFFF;

    color:#D98FA3;

    font-size:15px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

.copyBtn:hover{

    background:#FDEEF2;

}

.giftBtn{

    width:270px;

    padding:16px;

    margin:35px auto;

    display:block;

    border:none;

    border-radius:50px;

    background:#D98FA3;

    color:#FFFFFF;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    box-shadow:0 10px 25px rgba(217,143,163,.30);

    transition:.3s;

}

.giftBtn:hover{

    transform:translateY(-3px);

}

/* TOAST */

#toast{

    position:fixed;

    left:50%;
    bottom:30px;

    transform:translateX(-50%) translateY(100px);

    background:#ffffff;

    color:#8B6F74;

    padding:14px 24px;

    border-radius:50px;

    font-size:14px;

    box-shadow:0 10px 30px rgba(0,0,0,.12);

    opacity:0;

    transition:.35s;

    z-index:9999;

}

#toast.show{

    opacity:1;

    transform:translateX(-50%) translateY(0);

}