/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    margin:0;
    background:#F8EDEC;
    font-family:Arial,sans-serif;
}

.cover{
    width:100%;
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:40px 20px;

    text-align:center;
}

.cover h1{

    color:#8C3D50;

    font-size:42px;

    line-height:1.2;

    margin-bottom:30px;

    letter-spacing:2px;
}

/* Nama Pengantin */
.cover h2{
    font-size:34px;
    color:#7B3F4A;
    margin-top:20px;
}

/* Tanggal */
.cover p{
    font-size:18px;
    margin-top:10px;
    color:#555;
}

/* Tombol */
.cover button{
    margin-top:30px;
    padding:15px 35px;
    border:none;
    border-radius:50px;
    background:#7B3F4A;
    color:white;
    font-size:18px;
}